CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

build/

# VS Code
.vscode/
.cache/

# Jetbrains
.idea/
cmake-build-*/

# other
hover.map
libemanuel_foc_model.a
libstm32_hal.a
pcbv2_test.bin
pcbv2_test.elf
